# VSCode specific
.vscode

# Python specific:
**/__pycache__
.venv

# Flask specific:
**/instance
**/.webassets-cache

# secrets
datamanager/secrets/api-key
src/secrets/flask-key
src/static/css/groupsid.css
src/static/css/groupsid.css
src/templates/groupsid.html
