{% extends "base.html" %} 
{% set text = locale["views"]["groups"] %}
{% set groups = locale["groups"]["name"] %}
{% set teams = locale["teams"]["name"] %}
{% block title %}
<title>UEFA EURO 2024 {{text["0"]}}</title>
{% endblock title %} 
{% block head %} 
<link rel="stylesheet" href="/static/css/groups.css" />
{% endblock %}
{% block content %} 
<section id="groups" class="view">
    {% for row in data %}
        <div class="group">
            <div class="label"><a href="/groups/{{row['id']|string}}">{{groups[row["id"]|string]}}</a></div>
            <div class="teams">
                <div></div>
                <div></div>
                <div>+</div>
                <div>-</div>
                <div class="points">P</div>
                {% for team in row["teams"] %}
                    <div class="logobox">
                        <img class="logo" src="{{row['logoes'][loop.index0]}}" data-ignore="{{team}}"/>
                    </div>
                    <div class="team"><a href="/teams/{{team|string}}">{{teams[team|string]}}</a></div>
                    <div>{{row["goals_for"][loop.index0]}}</div>
                    <div>{{row["goals_against"][loop.index0]}}</div>
                    <div class="points">{{row["points"][loop.index0]}}</div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}
