{% set text = locale["navbar"] %}
<section id="nav-bar">
    <div class="linkbox">
        <a class="link" href="/">{{text["2"]}}</a>
        <a class="link" href="/teams">{{text["0"]}}</a>
        <a class="link" href="/groups">{{text["1"]}}</a>
    </div>
    <div class="controlbox">
        <form class="form" action="/search" method="post">
            <input name="query" type="text" formaction="/search"/>
        </form>
        <div class="locales" tabindex="-1">
            {% for row in locales %}
                {% if row["id"] == locale["id"] %}
                    <a class="link" href="/locale/{{row['id']}}"><strong>{{row["name"]}}</strong></a>
                {% else %}
                    <a class="link" href="/locale/{{row['id']}}" >{{row["name"]}}</a>
                {% endif %}
            {% endfor %}    
        </div>
        <button class="material-symbols-outlined button">search</button>
        <button class="button">{{locale["name"]}}</button>
        <a class="link" href="/">
            <button class="material-symbols-outlined button">home</button>
        </a>
    </div>
    <button class="material-symbols-outlined burger button">menu</button>
</section>
<script>(function () {
    let burger = document.querySelector(".burger")
    let controlbox = document.querySelector(".controlbox");
    let linkbox = document.querySelector(".linkbox");
    let children = Array.from(controlbox.children);

    for (let i = 0; i < 2; i++) {
        children[i].addEventListener("blur", (e) => {
            if (!e.relatedTarget || children[i] != e.relatedTarget.parentElement) {
                children[i+2].dataset["toggled"] = children[i].dataset["toggled"]= "";
            }
        }, true);
        children[i+2].addEventListener("pointerdown", (e) => {
            e.preventDefault();

            if (children[i+2].dataset["toggled"]) {
                children[i].firstElementChild.blur()
                return;
            }

            children[i+2].dataset["toggled"] = children[i].dataset["toggled"]= "true";
            children[i].firstElementChild.focus();
        });
    }

    burger.addEventListener("pointerdown", (e) => {
        if (e.target.dataset["toggled"] == "true") {
            e.target.innerText = "menu"
            e.target.dataset["toggled"] = "false"
            return
        } 

        e.target.innerText = "close"
        e.target.dataset["toggled"] = "true"
    })

    const tokens = document.location.pathname.split("/")
    const routes = ["teams", "groups", ""]

    for (const route of routes) {
        if (route != tokens[1]) {
            continue
        }

        const element = document.querySelector(`.link[href="/${route}"]`)
        element.dataset["toggled"] = "true"
        break
    }
})()
</script>
