{% extends "base.html" %}
{% block head %} 
<link rel="stylesheet" href="/static/css/teams.css" />
{% endblock %}
{% block title %}
    <title>Teams - UEFA EURO 2024</title>
{% endblock %}

{% block content %}
<main>
    {% for team in teams %}
        <div class="teams container" id="team-{{ team.id}}">
            <div class="teams box">
                <p class="teams empty"></p>
                <p class="teams empty"></p>
                <p class="teams label">C</p>
                <p class="teams label">R</p>
                <p class="teams label">P</p>
                <p class="teams label">W</p>
                <p class="teams label">L</p>
                <p class="teams label">D</p>
            </div>
            <div class="teams box">
                <div class="teams logo-container">
                    <img class="teams logo" src="{{ team.logo }}"/>
                </div>
                <p class="teams label">{{ team.name }}</p>
                <p class="teams label">{{ team.code }}</p>
                <p class="teams label">{{ team.rank }}</p>
                <p class="teams label">{{ team.points }}</p>
                <p class="teams label">{{ team.wins }}</p>
                <p class="teams label">{{ team.loses }}</p>
                <p class="teams label">{{ team.draws }}</p>
            </div>
        </div>
    {% endfor %}
</main>
{% if scroll_to_id %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var element = document.getElementById('team-' + '{{ scroll_to_id }}');
        if (element) {
            element.style.backgroundColor = 'rgba(255, 255, 0, 0.3)';
            element.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }
    });
</script>
{% endif %}
{% endblock %}