#group.view {
    align-self: stretch;
    flex-flow: column nowrap;
    align-items: center;
    padding: 50px 0;
}

#group.view .group {
    --logo-size: 38px;
    width: 100%;
}

#group.view .group .teams {
    display: grid;
    grid-template-columns: 1fr 2fr repeat(6, 1fr);
    grid-template-rows: repeat(auto-fill, var(--logo-size));
    column-gap: 5px;
    row-gap: 10px;
    padding: 50px 5px;
    text-align: center;
}

#group.view .group .fixtures {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 4fr 2fr;
    grid-template-rows: repeat(auto-fill, 48px);
    column-gap: 5px;
    row-gap: 10px;
    padding: 50px 5px;
}

#group.view .group .team.home {
    text-align: right;
}

#group.view .group .date {
    grid-column-start: span 5;
    border-top: 2px solid var(--color-secondary);
}

#group.view .group .date a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    #group.view .group {width: 768px;--logo-size: 48px}
    #group.view .group .teams {column-gap: 10px;}
    #group.view .group .fixtures {column-gap: 10px; padding: 50px;}
}
