#group.view {
    align-self: stretch;
    flex-flow: column nowrap;
    align-items: center;
    padding: 50px 0;
}

#group.view .group {
    --logo-size: 38px;
    width: auto;
}

#group.view .group .teams,
#group.view .group .fixtures {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    padding: 50px 10px;
    gap: 10px;
    text-align: center;
}

#group.view .group .teams a {
    color: inherit;
    text-decoration: inherit;
}

#group.view .group .teams .header,
#group.view .group .teams .row {
    display: grid;
    grid-template-columns: calc(var(--logo-size)*1.65) 2fr repeat(6, 0.25fr);
    align-items: stretch;
    column-gap: 10px;
    padding: 10px 0;
}

#group.view .group .fixtures .row {
    display: grid;
    grid-template-columns: calc(var(--logo-size)*1.65) 2fr 0.5fr 0.5fr 0.5fr 2fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    align-items: stretch;
    padding: 10px 0;
}

#group.view .group .fixtures a {
    color: black;
    text-decoration: none;
}

#group.view .group .teams .row:hover,
#group.view .group .fixtures .row:hover {
    background-color: #DFDFDF;
    border-radius: 10px;
}

#group.view .group .fixtures .row .date {
    grid-column: 2 / span 5;
}

#group.view .group .fixtures .row .logobox:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column-start: 1;
}

#group.view .group .fixtures .row .logobox:nth-child(3) {
    grid-row: 1 / span 2;
    grid-column-start: 7;
}

#group.view .group .fixtures .row .team.home {
    text-align: right;
}

#group.view .group .fixtures .row .team a {
    text-decoration: unset;
}

#group.view .group .fixtures hr {
    width: 100%;
    border: 1px solid var(--color-secondary);
}

@media only screen and (min-width: 768px) {
    #group.view .group {width: 768px;--logo-size: 48px}
    #group.view .group .teams {column-gap: 10px;padding: 50px;}
    #group.view .group .teams .header,
    #group.view .group .teams .row {column-gap: 10px;}
    #group.view .group .fixtures {column-gap: 10px; padding: 50px;}
}
