/* Custom variable for team */
.teams {
    --logo-size: 5rem;
    --logo-box-size: 3rem;
}


.teams.container {
    font-family: 'Silkscreen', sans-serif;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
    background-color: #f9f9f9;
    border-color: blue;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;

    display: grid;
    grid-template-rows: 1fr 1fr;
}
.teams.box {
    display: grid;
    grid-template-columns: 2fr 5fr repeat(6, 1fr);
}

.teams.label {
    color: #555;
    align-self: center;
    justify-self: center;
}

/* country name */
.teams.box p:nth-of-type(1) {  
    justify-self: left;
    font-weight: bold;
    margin: 0;
}


.teams.logo-container {
    height: var(--logo-box-size);
    height: var(--logo-box-size);
    aspect-ratio: 1.65/1;

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.teams.box img {
    object-fit: cover;
    width: var(--logo-size);
}
